.list-horizontal .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
    transition-duration: 0.5s;
  }

  .list-horizontal{
      overflow-x: scroll;
      display: flex;
      flex-direction: row;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

  .list-horizontal::-webkit-scrollbar {
    display: none;
  }
