.main{
    height: 90%;
    width: auto;
    overflow: hidden;
    background-color: rgba(26, 26, 26, 0.6);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.main::-webkit-scrollbar {
    display: none;
}
.margined{
    margin: 18px 0px 18px 0px;
    width: auto;
}

h4{
    text-align: center;
    color: white;
}
